/* GENERAL STYLES */
*, *::before, *::after {
    box-sizing: inherit;
}
  
* {
    margin: 0;
    padding: 0;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    font-size: 1.8rem;
    font-family: $bodyTxt;
    color: $black;
    background-color: $backGround;

    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-areas: "navbar main";
    overflow-x: hidden;
    @include screen768 {
      grid-template-areas: 
      "navbar"
      "main";
      grid-template-columns: 1fr;
    }
}


/* FLEXBOX */
.flex {
    display: flex; 

    &-jc-sb {
      justify-content: space-between;
    }

    &-jc-c {
      justify-content: center;
    }
    &-jc-se {
      justify-content: space-evenly;
    }
    &-jc-sa {
      justify-content: space-around;
    }
    
    &-ai-c {
      align-items: center;
    }
    
    &-fd-c {
        flex-direction: column;
    }
}


/* TEXT */
a {
    text-decoration: none;
    color: $black;
}

li {
    list-style: none;
}

p {
    max-width: 70rem;
    margin: 1rem 0;
}


/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $codeBackground; 
  border: .2rem solid $black;
  border-top: none;
  border-bottom: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $pinkAccent;
  border: .2rem solid $black;
  border-radius: 1.5rem; 
}