#navbar {
    position: fixed;
    border-right: 0.3rem solid $black;
    grid-area: navbar;
    width: 31rem;
    min-height: 100vh;
    padding: 2rem;
    @include screen768 {
        position: relative;
        min-height: auto;
        border-right: none;
    }
    & header {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    & a {
        font-size: 1.8rem;
        transition: .2s;
        text-transform: uppercase;
        &:hover {
            text-shadow: 3px 1px $yellowAccent;
        }
    }
}


#main-doc {
    grid-area: main;
    padding: 2rem;
    & .wrapper-code {
        @include screen500 {
            flex-direction: column;
        }
    }
}  

header {
    font-family: $headings;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: 3px 1px $yellowAccent;
}

section {
    margin: 3rem 0;
}

.code-s {
    font-weight: 600;
}
.code {
    display: inline-block;
    background-color: $codeBackground;
    border-radius: 10px;
    border: solid $black .3rem;
    box-shadow: 7px 7px 0px $pinkAccent;
    padding: 1.5rem;
    margin: 1rem 2rem 1rem 0;
    color: $greenAccent;
}

#More_information {
    ul {
        display: inline-block;
        background-color: $codeBackground;
        border-radius: 10px;
        border: solid $black .3rem;
        box-shadow: 7px 7px 0px $pinkAccent;
        padding: 2rem 5rem 2rem 2rem;
        margin: 1rem 2rem 1rem 0;
        color: $greenAccent;
        li {
            list-style: inside;
            list-style-type: disc;
            & a {
                transition: .2s;
                &:hover {
                    text-shadow: 3px 1px $yellowAccent;
                }
            }
        }
    }
}