/* FONTS */
$bodyTxt: 'Hind Siliguri', sans-serif;
$headings: 'Oswald', sans-serif;

/* COLORS */
$greenAccent: #12463D;
$black: #0F0F0F;
$pinkAccent: #f38686;
$yellowAccent: #f0dc84;
$backGround: #f2f9fa;
$codeBackground: #ffffff;